/* assistant-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Assistant 400";
	font-style: normal;
	font-weight: 400;
	src: url("../src/Assets/fonts/assistant-v18-latin-regular.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* assistant-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Assistant 700";
	font-style: normal;
	font-weight: 700;
	src: url("../src/Assets/fonts/assistant-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* quicksand-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Quicksand 400";
	font-style: normal;
	font-weight: 400;
	src: url("../src/Assets/fonts/quicksand-v30-latin-regular.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* quicksand-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Quicksand 700";
	font-style: normal;
	font-weight: 700;
	src: url("../src/Assets/fonts/quicksand-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--light-blue-opq: rgba(217, 217, 252, 0.8);
	--light-blue: #7f7fdb;
	--navy-blue: #130e3d;
	--light-purple: #cda4f1;
	--lighter-purple: #936cb6;
	--purple-clr: #532e74;
	--light-gray: #adadad;
	--dark-gray: #282a32;
	--dark-clr: #141420;
	--dark-opq: rgba(16, 16, 53, 0.4);
	--light-clr: #fefefe;
	--green-clr: #2fbe03cb;
	--red-clr: #ff1a1af5;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(160deg, var(--light-purple), var(--lighter-purple), var(--purple-clr));
}

h1,
h2 {
	font-family: "Assistant 700";
}

p {
	font-family: "Quicksand 400";
}

small {
	font-size: 1.2rem;
	font-family: "Quicksand 400";
}

em {
	font-size: 1rem;
}

i {
	font-size: 1.4em;
}

li {
	list-style-type: none;
}

a {
	color: var(--light-clr);
	text-decoration: none;
}

button {
	font-family: "Assistant 700";
	font-weight: 600;
	font-size: 1.7rem;
	cursor: pointer;
}

.disable {
	opacity: 0;
	pointer-events: none;
}

/*************************/
/** Info Modal Styling **/
/************************/

.modal-info {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-opq);
	transition: opacity 300ms ease-in-out;
}

.modal-info-content {
	background-color: var(--light-clr);
	color: var(--dark-clr);
	text-align: center;
	width: 620px;
	max-width: 100%;
	overflow: auto;
}

.modal-info-header {
	padding: 20px;
	background-color: var(--purple-clr);
	color: var(--light-clr);
}

.modal-info-header h1 {
	font-size: 2.1rem;
	font-weight: 600;
}

.form-container {
	padding: 30px;
	padding-bottom: 40px;
	font-family: "Quicksand 400";
	font-size: 1.3rem;
}

.form-container form {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.form-control {
	width: 100%;
	position: relative;
}

.form-control label {
	display: inline-block;
	padding: 10px;
}

.form-control input {
	display: block;
	font-size: 1.2rem;
	font-family: "Quicksand 400";
	border: 1px solid var(--light-gray);
	color: var(--dark-clr);
	width: 100%;
	height: 35px;
	padding: 1.3rem;
	border-radius: 5px;
}

.form-control i {
	position: absolute;
	top: 55px;
	border-radius: 50%;
	right: 10px;
	transition: opacity 300ms ease-in;
}

.form-control :nth-child(3) {
	color: var(--green-clr);
}

.form-control :nth-child(4) {
	color: var(--red-clr);
}

.form-control.success input {
	border: 2px solid var(--green-clr);
}

.form-control.error input {
	border: 2px solid var(--red-clr);
}

.show-error-text {
	display: block;
	padding: 2px;
	text-align: left;
	color: var(--red-clr);
}

.survey-btn {
	background-color: var(--purple-clr);
	color: var(--light-clr);
	margin-top: 1.5rem;
	border: none;
	width: 100%;
	padding: 5px;
}

.survey-btn:hover,
.survey-btn:focus {
	background-color: #522975;
}

/***************************/
/** Survey Modal Styling **/
/**************************/

.survey-one-modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-opq);
	transition: opacity 300ms ease-in-out;
}

.survey-one-container {
	background-color: var(--light-clr);
	color: var(--dark-clr);
	text-align: center;
	width: 650px;
	max-width: 100%;
	padding-bottom: 25px;
	overflow: auto;
}

.survey-header {
	height: 100px;
	background-color: var(--purple-clr);
	color: var(--light-clr);
}

.survey-one-container h1,
.survey-two-container h1 {
	font-size: 1.6rem;
	margin-block: 10px;
}

.survey-one-container small,
.survey-two-container small {
	padding-left: 40px;
}

.survey-form-control {
	padding-block: 5px;
	padding-inline: 35px;
	display:  flex;
	justify-content: space-between;
}

.survey-form-control p {
	font-size: 1.3rem;
}

.survey-one-container button {
	width: 50%;
}

/*******************************/
/** Survey Two Modal Styling **/
/*****************************/

.survey-two-modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-opq);
	transition: opacity 300ms ease-in-out;
}

.survey-two-container {
	background-color: var(--light-clr);
	color: var(--dark-clr);
	text-align: center;
	width: 600px;
	max-width: 100%;
	padding-bottom: 25px;
	overflow: auto;
}

.survey-two-container input[type="text"] {
	width: 100%;
	padding: 8px;
	padding-left: 20px;
	color: var(--navy-blue);
	font-size: 1rem;
	border: 1px solid var(--purple-clr);
}

.survey-two-container button {
	width: 50%;
	padding: 8px;
}

/********************************/
/** Survey Three Modal Styling **/
/*******************************/

.survey-three-modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-opq);
	transition: opacity 300ms linear;
}

.survey-three-container {
	background-color: var(--light-clr);
	color: var(--dark-clr);
	text-align: center;
	width: 600px;
	max-width: 100%;
	padding-bottom: 25px;
	overflow: auto;
}

.survey-three-container .survey-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.survey-three-container form {
	padding: 30px;
}

.survey-three-container h2 {
	margin-bottom: 1rem;
}

.survey-three-container textarea {
	font-size: 1.1rem;
	font-family: 'Assistant 400';
	color:  var(--dark-clr);
	padding-block: .5rem;
	padding-inline: 1.1rem;
	height: 150px;
	width: 100%;
}

/********************************/
/**      Web Page Styling      **/
/*******************************/

.web-content-container {
	width: 900px;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	background-color: var(--dark-gray);
	color: var(--light-clr);
	border-radius: 5px;
	overflow-x: hidden;
	position: relative;
}

.web-content-container .header {
	width: 100%;
	min-height: 130px;
	display: flex;
	padding-block: 1rem;
	padding-inline: 2.5rem;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid var(--light-clr);
}

.web-content-container .user-logIn {
	height: 95px;
	width: 95px;
	padding: .3rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .3rem;
	border: 2px solid var(--light-clr);
	border-radius:  50%;
	transition: transform 150ms linear;
}

.user-logIn p {
	font-size: 1.1rem;
	font-weight: bold;
}

.web-content-container .user-logIn:hover {
	transform: scale(1.02);
}

.navbar ul {
	display: flex;
	align-items: center;
}

.navbar li {
	padding: 1rem;
}

.navbar a {
	cursor: pointer;
	font-size: 1.1rem;
	font-weight: bold;
}

.navbar a:hover {
	color: var(--light-purple);
}

.selected {
	color: var(--light-purple);
}

.content-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.button-right,
.button-left {
	z-index: 1;
	background-color: transparent;
	border: none;
	color: var(--light-clr);
	position: absolute;
}

.button-left {
	top: 60%;
	left: 10px;
}

.button-right {
	top: 60%;
	right: 10px;
}

.button-right:hover,
.button-left:hover {
	color: var(--purple-clr);
}

.movies-container {
	height: 100%;
	padding-inline: 1rem;
	display: flex;
	gap: .5rem;
	align-items: center;
	transition: transform 350ms linear;
}

.content-control {
	height: 300px;
	width: 200px;
	text-align: center;
}

.content-control .placeholder-movie {
	cursor: pointer;
	height: 90%;
	padding: 20px;
	background: linear-gradient(340deg, var(--light-gray), var(--light-clr));
	margin-bottom: .5rem;
}

.placeholder-movie .placeholder-img {
	background-color: var(--dark-opq);
	height: 200px;
	width: 150px;
}

.content-nav {
	position: absolute;
	display: flex;
	width: 200px;
	justify-content: space-evenly;
	top: 90%;	
	left: 38%;
}

.content-nav button {
	border: none;
	border-radius: 5px;
	height: 4px;
	width: 55px;
}

.content-nav button:hover {
	background-color: var(--lighter-purple);
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.current-slide {
	background-color: var(--lighter-purple);
}

.default-slide {
	transform: translateX(0%);
}

.first-slide {
	transform: translateX(-50%);
}

.second-slide {
	transform: translateX(-100%);
}

/* The slider */

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--light-gray);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--light-clr);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--purple-clr);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--purple-clr);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
